body {
}

#background {
  content: "";
  background: url("images/frisk.jpg") no-repeat center;
  opacity: 0.12;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100%;
}

#registration {
  position: relative;
}

.stockName {
  font-size: 2em;
}

.stockValue {
  font-size: 3em;
  color: forestgreen;
}

#friskCount {
  position: relative;
  font-size: 8em;
  text-align: center;
  top: 90px;
}

#pie {
  margin-top: 10px;
  path {
    stroke-width: 70px !important;
  }
  text {
    font-size: 0.8em;
  }
}

#submitLog {
  width: 100%;
  background-color: #aaf;
  color: white;
  font-weight: bold;
}

.badboy {
  font-weight: bold;

}

@keyframes blinker {  
  0% { visibility: visible; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}

.celebration {
  color: white;
  background: red;
  animation: blinker steps(1) 1s infinite;
}
